.event-detail-img-container {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.event-detail-container {
  margin: 20px;
  margin-top: 20px;
  max-width: 400px;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #f9f9f9dd;
  height: 300px;
  justify-content: right;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  color: #555;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Paragraph styles */
p {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Attendees list styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* Link styling */
a {
  display: inline-block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

.back-btn {
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #007bff;
  border-radius: 4px;
  padding: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
}

/* Responsive styling */
@media (max-width: 768px) {
  .event-detail-container {
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p,
  a {
    font-size: 14px;
  }
}
